---
layout: archive
title: "Our Students"
permalink: /students/
author_profile: true
---

{% include base_path %}

{% assign current_students = site.students | where: "status", "current" %}
{% assign old_students = site.students | where: "status", "old" %}
{% assign undergrad_students = site.students | where: "status", "undergrad" %}

<h2>Current Students</h2>
{% if current_students.size > 0 %}
  {% for post in current_students %}
    {% include archive-single.html %}
  {% endfor %}
{% else %}
  <p>No current students listed.</p>
{% endif %}

<h2>Old Students (Alumni)</h2>
{% if old_students.size > 0 %}
  {% for post in old_students %}
    {% include archive-single.html %}
  {% endfor %}
{% else %}
  <p>No alumni listed.</p>
{% endif %}

<h2>Undergraduate Students</h2>
{% if undergrad_students.size > 0 %}
  {% for post in undergrad_students %}
    {% include archive-single.html %}
  {% endfor %}
{% else %}
  <p>No undergraduate students listed.</p>
{% endif %}